@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
text-size-adjust:100%;
    
  }
  

*, *:before, *:after {
  box-sizing: inherit;
}


.plant-wrapper { 
    margin: 8em 0;
    position: relative;
}

.asteroid { 
    width: 200px;
    left: calc(30% - 100px);
    position: absolute;
    -webkit-animation: orbit 15s linear infinite alternate;
    animation: orbit 15s linear infinite alternate;
    top: 15%;
}

.ship { 
    width: 150px;
    position: absolute;
    left: calc(50% - 20px);
    top: -50px;
    -webkit-animation: wiggel 6s linear infinite;
    animation: wiggel 6s linear infinite; 
    top:15%
}

.stars { 
    background-image: url("../images/stars.svg");
    -webkit-animation: stars 80s linear alternate infinite; 
    animation: stars 80s linear alternate infinite; 
    height: 100vh;
}

body { 
    background-color: black;
}

@-webkit-keyframes stars{

    0% { 
        -webkit-transform: scale(1,1);
    }
    
    50% {
        -webkit-transform: scale(2,2);
    }
}

@keyframes stars{

    0% { 
        transform: scale(1,1);
    }
    
    50% {
        transform: scale(2,2);
    }
}

@-webkit-keyframes orbit{

    0% { 
        -webkit-transform: rotate(0deg) ease-in;
    }
    
    35% {
        -webkit-transform: rotate(-90deg);
    }
    
    100% { 
        -webkit-transform: rotate(360deg)ease-out;
    }
}

@keyframes orbit{

    0% { 
        transform: rotate(0deg) ease-in;
    }
    
    35% {
        transform: rotate(-90deg);
    }
    
    100% { 
        transform: rotate(360deg)ease-out;
    }
}

@-webkit-keyframes wiggel {

    0% { 
        -webkit-transform:translateY(0px)ease-in;
    }
    
    33% { 
        -webkit-transform: translateY(100px);
    }
    
    
    0% { 
        -webkit-transform:translateX(0px)
    }
    
    75% { 
        -webkit-transform: translateX(100px)
    }

    100% {
        -webkit-transform: rotate(360deg) ease-in;
    }
}

@keyframes wiggel {

    0% { 
        transform:translateY(0px)ease-in;
    }
    
    33% { 
        transform: translateY(100px);
    }
    
    
    0% { 
        transform:translateX(0px)
    }
    
    75% { 
        transform: translateX(100px)
    }

    100% {
        transform: rotate(360deg) ease-in;
        }
}



